/* src/App.css */
.App {
    position: relative;
    overflow: hidden;
  }
  
  .App > * {
    position: relative;
    z-index: 1; /* Ensure other components appear above the Three.js background */
  }
  
  .ThreeBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure it appears behind other components */
  }
  